@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
} 

body {
    background: black;
    overflow-x: hidden;
    height: 229vw; /* 전체 body의 높이 */
}

/* 아래의 모든 코드는 영역::코드로 사용 */
body::-webkit-scrollbar {
    width: 0.6vw;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 3vw; /* 스크롤바의 길이 */
    background: #ffffff; /* 스크롤바의 색상 */
    border-radius: 1vw;
}

body::-webkit-scrollbar-track {
    background: rgba(151, 151, 151, 0.1);  /*스크롤바 뒷 배경 색상*/
}

a {
    text-decoration: none;
    /* 하이퍼링크 텍스트 스타일 제거 */
    color: inherit;
}

#wrap {
    list-style: none;
    width: 100%;
    position: relative;
}


#topBtn {
    width: 3vw;
    height: 3vw;
    display: none;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 1;
    font-size: 0.8vw;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.3vw;
    border-radius: 6vw;
    border: 0.1vw solid #ffffff;
    background-color: transparent;
}

#topBtn:hover {
    color: #DDFF21;
    border: 0.2vw solid #DDFF21;
    transition: all 1s ease;
    background-color: #ffffff12;
}


/*--header-------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vw;
    display: flex;
    border-bottom: 0.1vw solid #fff;
    color: #fff;
    background-color: #000000af;
    z-index: 4;
    transition: transform 0.3s ease; /* 트랜지션 추가 */
    transform: translateY(0);
}

.logo {
    padding: 0 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: relative;
}

.logo a {
    font-weight: bold;
}

.logo span {
    width: 0.1vw;
    border: 0.11vw solid rgb(255, 255, 255);
    margin-top: -0.5vw;
    margin-left: -2.9vw;
}

.logo:hover span {
    width: 5vw;
    transition: all 0.2s ease;
    margin-left: 2.5vw;
}

/*--nav--------------*/

nav {
    width: 80%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
    height: 100%;
    /* ul의 높이를 100%로 설정해서 헤더 높이와 동일하게 만듭니다 */
}

nav ul li {
    padding: 0 70px 0 0;
    font-size: 1.4vw;
    font-weight: bold;
}

nav ul li:hover {
    color: #DDFF21;
}


.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }


/*--section main-------------------------------------------------*/

#main {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.main p {
    width: 62.6vw;
    color: #ffffff;
    font-size: 8.5vw;
    font-weight: bold;

    margin-top: -15%;
    margin-left: 1%;
    /* color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255); */
}



/*-- main skill ------*/


#main {
    margin-top: 5.9vw;
}


/*ES5*/
.skill1 {
    /* 위치를 고정시킵니다 */
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;

    margin-top: -17%;
    margin-left: -47%;
    /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
    transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms1t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms1t h1 {
    font-size: 1.1vw;
    margin-left: 0.5vw;
}

.ms1t p {
    font-size: 0.75vw;
    margin-left: 0.5vw;
}

.ms1t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms1t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms1t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}


.ms1b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms1b h1 {    
    margin-top: -2vw;
    font-size: 3.5vw;
}



/*Javascript*/
.skill2 {
    /* 위치를 고정시킵니다 */
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;

    margin-top: -3%;
    margin-left: -35%;
    /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
    transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms2b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms2b h1 {    
    margin-top: -2vw;
    font-size: 3.5vw;
}


.ms2t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms2t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms2t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms2t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}



/*HTML5*/
.skill3 {
     /* 위치를 고정시킵니다 */
     position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;

    margin-top: -31%;
    margin-left: -25%;
     /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
     transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms3b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms3b h1 {    
    margin-top: -2vw;
    font-size: 3.5vw;
}


.ms3t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms3t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms3t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms3t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}



/*CSS*/
.skill4 {
    /* 위치를 고정시킵니다 */
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;

    margin-top: -20%;
    margin-left: 1.3%;

    z-index: 2;
    /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
    transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms4b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms4b h1 {     
    margin-top: -2vw;
    font-size: 3.5vw;
}


.ms4t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms4t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms4t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms4t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}



/*React.js*/
.skill5 {
     /* 위치를 고정시킵니다 */
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;

    margin-top: -14%;
    margin-left: 23.5%;
   
    z-index: 1;
    /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
    transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms5b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms5b h1 {    
    margin-top: -2vw;
    font-size: 3.5vw;
}


.ms5t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms5t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms5t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms5t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}


/*jQuery*/
.skill6 {
    /* 위치를 고정시킵니다 */
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;

    margin-top: -2%;
    margin-left: 10%;
    /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
    transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms6b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ms6b h1 {    
    margin-top: -2vw;
    font-size: 3.5vw;
}


.ms6t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms6t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms6t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms6t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}


/*SASS*/
.skill7 {
    /* 위치를 고정시킵니다 */
    position: absolute;
    width: 23vw;
    height: 12.5vw;
    color: #ffffff;
    background-color: #1D1D1D;
    border: solid 0.15vw #ffffff;
    border-radius: 0.5vw;
    margin-top: 2.1%;
    margin-left: -7.5%;
    /* transition을 추가하여 부드러운 애니메이션 효과를 줍니다 */
    transition: width 0.5s, height 0.5s, font-size 0.5s; 
}


.ms7b {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ms7b h1 {    
    margin-top: -2vw;
    font-size: 3.5vw;
}


.ms7t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    border-bottom: solid 1px #ffffff;
    margin-left: 0.7vw;
}


.ms7t ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.ms7t ul li {
    display: flex;
    margin-right: 0.3vw;
    list-style-type: none;
}


.ms7t ul li img {
    width: 1.2vw;
    height: 1.2vw;
}


/* 초깃값으로 배경색을 숨김 */
.skill4 .s4, .skill4 .b4, .skill4 .c4 {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

/* 애니메이션 클래스 추가 */
.skill4 .s4.active {
    background-color: #929292; /* 색상을 여기에 지정하세요 */
}

.skill4 .b4.active {
    background-color: #929292; /* 색상을 여기에 지정하세요 */
}

.skill4 .c4.active {
    background-color: #929292; /* 색상을 여기에 지정하세요 */
}


/* ---------- section aboutme --------- */


#aboutme {
    width: 100%;
    height: 25vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vw;
}

.about p {
    font-size: 2.7vw;
    font-weight: bold;
}

#aboutme ul li {
    margin-top: 12vw;
    list-style: none;
    font-size: 1.25vw;
    line-height: 150%;
}




/*---- svg -----*/


svg {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    opacity: 0;
}


/*--section work-------------------------------------------------*/


#work {
    width: 100%;
    height: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}


.work p {
    font-size: 2.7vw;
    font-weight: bold;
    margin-bottom: 7vw;
    color: #fff;
}


.w_k {
    display: flex;
    flex-direction: column;
    width: 80%;
}


.w_k li {
    width: 31.25vw;
    height: 22.7vw;
    padding: 0.7vw;
    list-style: none;
    position: relative;
    opacity: 1;
}


.w_k li p {
    color: #fff;
}

.w_k li img {
    width: 100%;
    height: auto;
    padding: 0.4vw;
    border: 1px solid transparent; /* 초기에 투명한 테두리 설정 */
    transition: border 0.5s ease-in-out; /* 테두리 색상 변화에 대한 전환 효과 설정 */
}

.w_k li:hover img {
    border-color: #DDFF21; /* 호버 시 테두리 색상 변경 */
    transform: rotate(360deg); /* 호버 시 이미지를 360도 회전 */
}



.w_kp1 {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 1vw;
}


.w_kp2 {
    font-size: 0.9vw;
    margin-bottom: 1.2vw;
}


.w_k li img {
    width: 30vw;
}


.w_k li:first-child {
    margin-left: 5.21vw;
}


.w_k li:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-left: 43vw;
    margin-top: -9vw;
}


.w_k li:nth-child(3) {
    margin-left: 5.22vw;
    margin-top: -7vw;
}



#wk1_modal {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90vh;
    background: rgba(53, 53, 53, 0.946);
    z-index: 5;
    color: #ffffff;
    margin-bottom: 80vw;
    margin-left: 5vw;
    border-radius: 1vw;
    border: 0.15vw solid #717171;

    overflow-y: auto;
    scrollbar-width: none; /* Firefox를 위한 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE/Edge를 위한 스크롤바 숨김 */
}


/* WebKit 기반 브라우저에서 스크롤바를 숨깁니다. */
#wk1_modal::-webkit-scrollbar {
    display: none;
  }


  #wk2_modal {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90vh;
    background: rgba(53, 53, 53, 0.946);
    z-index: 5;
    color: #ffffff;
    margin-bottom: 80vw;
    margin-left: 5vw;
    border-radius: 1vw;
    border: 0.15vw solid #717171;

    overflow-y: auto;
    scrollbar-width: none; /* Firefox를 위한 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE/Edge를 위한 스크롤바 숨김 */
}


/* WebKit 기반 브라우저에서 스크롤바를 숨깁니다. */
#wk2_modal::-webkit-scrollbar {
    display: none;
  }



  #wk3_modal {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90vh;
    background: rgba(53, 53, 53, 0.946);
    z-index: 5;
    color: #ffffff;
    margin-bottom: 80vw;
    margin-left: 5vw;
    border-radius: 1vw;
    border: 0.15vw solid #717171;

    overflow-y: auto;
    scrollbar-width: none; /* Firefox를 위한 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE/Edge를 위한 스크롤바 숨김 */
}


/* WebKit 기반 브라우저에서 스크롤바를 숨깁니다. */
#wk3_modal::-webkit-scrollbar {
    display: none;
  }


#wk1_modal.active {
    visibility: visible;
}

#wk2_modal.active {
    visibility: visible;
}

#wk3_modal.active {
    visibility: visible;
}


#wk1_modal .wkm1 {
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 3vw;
    width: 90%;
    margin-left: 1.4vw;
    border-bottom: 0.1vw solid #989898;
    align-items: center;
}

#wk2_modal .wkm1 {
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 3vw;
    width: 90%;
    margin-left: 1.4vw;
    border-bottom: 0.1vw solid #989898;
    align-items: center;
}

#wk3_modal .wkm1 {
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 3vw;
    width: 90%;
    margin-left: 1.4vw;
    border-bottom: 0.1vw solid #989898;
    align-items: center;
}


#wk1_modal .wkm1_content {
    display: flex;
    padding: 3vw;
}

#wk2_modal .wkm1_content {
    display: flex;
    padding: 3vw;
}

#wk3_modal .wkm1_content {
    display: flex;
    padding: 3vw;
}


.wkm1_content ul {
    padding: 3vw 0 0 4vw;
}

.wkm1_content ul li {
    list-style-type: none;
    margin-bottom: 3.5vw;
    font-size: 1.2vw;
}



.wkm1_content ul li:nth-of-type(4) {
    display: flex;
    margin-top: 5.7vw;
}


.wkm1_content ul li:nth-of-type(4) p {
    border: 0.1vw solid #ffffff;
    padding: 0.4vw 1vw;
    margin: 0 0.5vw 0 0;
    border-radius: 1vw;
}

.wkm1_content ul li:nth-of-type(4) p:hover {
    color: #DDFF21;
    background-color: #707070;
}


.wkm1_content ul li:nth-of-type(5) {
    position: absolute;
    right: 0;
    margin-right: 7.2vw;
    background-color: #1D1D1D;
    padding: 0.5vw 0.8vw;
    border-radius: 1.5vw;
    font-weight: bold;
    transition: all 0.7s ease;
}

#wk2_modal .wkm1_content ul li:nth-of-type(5) {
    position: absolute;
    right: 0;
    margin-top: -2.2vw;
    margin-right: 7.2vw;
    background-color: #1D1D1D;
    padding: 0.5vw 0.8vw;
    border-radius: 1.5vw;
    font-weight: bold;
    transition: all 0.7s ease;
}

.wkm1_content ul li:nth-of-type(5):hover {
    color: #1D1D1D;
    font-weight: bold;
    background-color: #ffffff;
}


#wk2_modal .wkm1_content ul li:nth-of-type(5):hover {
    color: #1D1D1D;
    font-weight: bold;
    background-color: #ffffff;
}


.wkm1_c1 {
    font-size: 1.2vw;
    text-align: center;
    line-height: 200%;
}


.wkm1_content2 {
    margin-top: 4vw;
    margin-left: 3vw;
    margin-bottom: 5vw;
}

.wkm1_content2 .wkm1_test {
    display: flex;
    margin-top: 3vw;
    align-items: center;
    justify-content: center;
}

.wkm1_content2 h2 {
    margin-left: 4vw;
}

#wk1_modal .wkm1_test img {
    width: 20vw;
}


#wk2_modal p {
    margin-bottom: 3vw;
}


#wk3_modal p {
    margin-bottom: 3vw;
}

.wkm1_test p {
    font-size: 1vw;
    margin-left: 5vw;
    line-height: 200%;
}


#wk1_modal img {
    width: 50vw;
}

#wk2_modal img {
    width: 50vw;
}

#wk3_modal img {
    width: 50vw;
}

#wk1_modal button {
    position: absolute;
    top: 1.2vw;
    right: 1.5vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


#wk2_modal button {
    position: absolute;
    top: 1.2vw;
    right: 1.5vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

#wk3_modal button {
    position: absolute;
    top: 1.2vw;
    right: 1.5vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


/*--section contact-------------------------------------------------*/


#contact {
    width: 100%;
    height: 47vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}


.ct p {
font-size: 2.7vw;
font-weight: bold;
margin-bottom: 7vw;
}


.ct_contents {
display: flex;
justify-content: space-between;
width: 70%;
}


.ct_contentsleft {
width: 50%;
display: flex;
align-items: center;
justify-content: center;
}


.ct_contentsleft p {
font-size: 1vw;
line-height: 200%;
color: gray; /* 기본 텍스트 색상 */
    overflow: hidden;
    white-space: nowrap;
}


.ct_contentsright {
width: 50%;
margin-left: 5vw;
}


.ct_contentsright ul {
padding: 0 2vw;
}


.ct_contentsright ul li {
list-style: none;
margin-top: 1.8vw;
font-size: 1.2vw;
line-height: 200%;
}

.ct_contentsright ul li:nth-of-type(2) {
    color: #989898;
}
.ct_contentsright ul li:nth-of-type(3) {
    color: #989898;
}
.ct_contentsright ul li:nth-of-type(4) {
    color: #989898;
}

.ct_contentsright ul li:nth-of-type(2):hover {
    color: #ffffff;
}
.ct_contentsright ul li:nth-of-type(3):hover {
    color: #ffffff;
}
.ct_contentsright ul li:nth-of-type(4):hover {
    color: #ffffff;
}

.ct_contentsright p {
    margin-top: 3vw;
    color: #6e6e6e;
    font-weight: bold;
}


.email {
width: 31.24vw;
height: 2.2vw;
background: black;
border-bottom:0.1vw solid #fff;
margin-top: 1.3vw;
}


.message {
width: 31.24vw;
height: 2.2vw;
background: black;
border-bottom: 0.1vw solid #fff;
margin-top: 1.3vw;
}


.btn {
width: 5.24vw;
height: 2vw;
margin-left: 60.76vw;
background: black;
border: solid 0.1vw #fff;
border-radius: 0.5vw;
color: #fff;
}


.btn:hover {
background: #fff;
border: solid 0.1vw black;
color: black;
} 


#copyField {
    display: none;
}


/*--footer-------------------------------------------------*/


footer {
    width: 100%;
    height: 12vw;
    display: flex;
    border-top: 0.1vw solid #fff;
    color: #fff;
    justify-content: space-between;
}


footer ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    margin: 0 7.4vw;
}


footer ul li {
    line-height: 150%;
}


.logo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: -0.8vw;
}


.logo2 a {
    padding: 0 1vw;
    width: 20%;
    font-weight: bold;
}


.logo2 span {
    width: 0.1vw;
    border: 0.11vw solid rgb(255, 255, 255);
    margin-top: -0.5vw;
    margin-left: 0.8vw;
}


.logo2:hover span {
    width: 5vw;
    transition: all 0.2s ease;
    margin-left: 5.5vw;
}